name: release

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
   test_ubuntu_x64:
     uses: HelmholtzAI-Consultants-Munich/oligo-designer-toolsuite/.github/workflows/test_ubuntu_x64.yml@main
   test_macos_arm64:
    uses: HelmholtzAI-Consultants-Munich/oligo-designer-toolsuite/.github/workflows/test_macos_arm64.yml@main
   test_macos_x64:
    uses: HelmholtzAI-Consultants-Munich/oligo-designer-toolsuite/.github/workflows/test_macos_x64.yml@main

   publish:
    needs: [test_ubuntu_x64, test_macos_arm64, test_macos_x64]
    name: Publish to PyPI
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 6
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
          pip install twine
      - name: Build package
        run: python -m build
      - name: Upload to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          twine upload dist/*